/* === COMPONENTS === */
.list-page {
  display: grid;
  grid-auto-flow: dense;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

.add-column {
  padding: 24px;
  position: relative;
}

.add-column #closeModalBtn {
  top: 8px !important;
  right: 8px !important;
}

.list-column {
  position: relative;
}

.add-column #closeModalBtn,
.list-column .floating-btn {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: var(--color-surface);
}

.add-column #closeModalBtn:hover,
.list-column .floating-btn:hover {
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
}

.add-column #closeModalBtn:focus,
.list-column .floating-btn:focus {
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
  box-shadow: var(--shadow-red);
}

#closeModalBtn span,
.floating-btn span {
  margin-top: 0.5px;
  margin-left: 0.2px;
}

#addForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#addForm h3 {
  color: var(--color-primary);
  line-height: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  margin-left: 16px;
}

.input-container #itemTitle,
.input-container #itemDesc {
  padding: 8px 16px;
  border: 2px solid var(--border-color);
  border-radius: 480px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-surface);
  color: var(--color-primary);
}

.input-container #itemTitle::placeholder,
.input-container #itemDesc::placeholder {
  font-weight: lighter;
  color: var(--text-secondary);
}

.input-container #itemTitle:focus,
.input-container #itemDesc:focus {
  border: 2px solid var(--color-primary);
  box-shadow: var(--shadow-blue);
}

.input-container #itemDesc {
  resize: none !important;
}

.list-column .title-container {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
}

.list-column .title-container h1 {
  font-size: 2.5rem;
  max-width: 90%;
  margin: 0 !important;
  line-height: 2.2rem;
}

.item-container .add-btn,
#addForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  padding: 8px 32px;
  border: 2px solid var(--color-primary);
  border-radius: 24px;
  background-color: var(--color-primary);
  color: var(--text-inverted);
}

.item-container .add-btn:focus,
#addForm button:focus {
  box-shadow: var(--shadow-blue);
}

.item-container .add-btn span:first-child,
#addForm button span:first-child {
  font-size: 1rem;
}

.list-column .item-container {
  padding: 24px;
}

@media (max-width: 48em) {
  /* === OVERLAY (DARK BACKGROUND) */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Semi-transparent black background */
    display: none;
    z-index: 999;
  }

  /* === MODAL WINDOW (FLOATING) === */
  .modal-column {
    position: fixed;
    top: 10%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, 0%); /* Adjusts for exact centering */
    background-color: var(--color-surface); /* Modal background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 85%;
    max-height: 80%;
    overflow-y: auto; /* Adds vertical scrolling if content overflows */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    display: none;
    z-index: 1000;
    animation: down 2s forwards;
  }

  @keyframes down {
    0% {
      transform: translate(-50%, -200%);
    }
    20% {
      transform: translate(-50%, 0%);
    }
    100% {
      transform: translate(-50%, 0%);
    }
  }

  .add-column {
    display: none;
  }

  .show-modal .overlay {
    display: block; /* Shows overlay and modal when screen is small */
  }

  /* When the body has the class .show-modal, and the column has .modal-column, it appears */
  .show-modal .add-column.modal-column {
    display: block;
  }

  /* Hides body scroll when modal is open */
  body.show-modal {
    overflow: hidden;
  }
}

@media (min-width: 48em) {
  .overlay {
    display: none;
  }

  #closeModalBtn {
    display: none;
  }

  .list-page {
    grid-template-columns: 1fr 2fr;
    max-width: 1720px; /* Define the maximum width for the container */
    margin: 0 auto; /* Optional: Center the container */
  }

  .add-column {
    display: block;
    margin: 24px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-default);
    height: max-content;
    border-radius: 16px;
  }

  .list-column {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .list-column .floating-btn {
    left: -16.2px;
  }

  .item-container .add-btn {
    display: none;
  }
}
